/**
 * Use this template for building basic static websites
 * 
 * Author:  Anshul Kharbanda
 * Created: 7 - 22 - 2020
 */
$spacing-unit: 8pt;
$profile-color: #86a879;
$snippets-color: #82adb6;
$settings-color: #a384b9;
$mobile-width: 500px;

body {
    margin: 0pt;
}

@mixin on-mobile {
    @media screen and (max-width: $mobile-width) {
        @content;
    }
}

#layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.panel {
    position: static;
    flex: 1;
    margin: $spacing-unit;
    overflow-x: hidden;
    overflow-y: auto;
}

#panel-profile {
    background-color: $profile-color;
}

#panel-snippets {
    background-color: $snippets-color;
}

#panel-settings {
    background-color: $settings-color;
}

@include on-mobile {
    .panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #panel-profile {
        transform: translateX(-100%);
    }

    #panel-settings {
        transform: translateX(100%);
    }
}

.panel-content {
    padding: $spacing-unit;
}

.profile-summary {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    gap: $spacing-unit $spacing-unit;
    align-items: center;
}

.profile-photo {
    height: 150px;
    border-radius: 50%;
    border: 1px solid darken($profile-color, 10%);
}

.button-controls {
    display: flex;
    flex-direction: row-reverse;
    button {
        margin: 0pt $spacing-unit / 2;
    }
}

.settings-form-row {
    margin: $spacing-unit 0pt;
}