/**
 * Use this template for building basic static websites
 * 
 * Author:  [Your Name Here]
 * Created: [Date of Creation]
 */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#elon {
    display: none;
}

#title {
    color: green;
}

#destupid {
    background: none;
    color: black;
    border: 1px solid black;
    padding: 4pt 8pt;
    border-radius: 4pt;
    &:hover {
        background-color: #bbb;
    }
    &:disabled {
        background-color: #fafafa;
        color: #555;
        border-color: #555;
    }
}