/**
 * Use this template for building basic static websites
 * 
 * Author:  Anshul Kharbanda
 * Created: 7 - 22 - 2020
 */
$spacing-unit: 8pt;
$profile-color: #86a879;
$snippets-color: #82adb6;
$settings-color: #a384b9;
$mobile-width: 500px;
$font-family: "Calibri", "Arial", sans-serif;

* {
    font-family: $font-family;
}

body {
    margin: 0pt;
    overflow: hidden;
}

@mixin on-mobile {
    @media screen and (max-width: $mobile-width) {
        @content;
    }
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    @include on-mobile {
        width: 300vw;
        transform: translateX(-100vw);
    }
}

.panel {
    position: static;
    flex: 1;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#panel-profile {
    background-color: $profile-color;
}

#panel-snippets {
    background-color: $snippets-color;
}

#panel-settings {
    background-color: $settings-color;
}

.panel-content {
    padding: 0pt $spacing-unit;
}

.button-controls {
    display: flex;
    flex-direction: row-reverse;
    button {
        margin: 0pt $spacing-unit / 2;
    }
}

.profile-summary {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    gap: $spacing-unit $spacing-unit;
    align-items: center;
}

.profile-photo {
    height: 150px;
    border-radius: 50%;
    border: 1px solid darken($profile-color, 10%);
}

.snippet {
    margin: $spacing-unit 0pt;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    padding: 0pt $spacing-unit;

    background-color: darken($color: $snippets-color, $amount: 20%);
    border-radius: 10pt;

    box-shadow: 
        2px 2px 6px darken($color: $snippets-color, $amount: 40%),
        -2px -2px 6px lighten($color: $snippets-color, $amount: 10%);
}

.settings-form-row {
    margin: $spacing-unit 0pt;
}